.header {
    display: flex;
    align-items: center;
    padding: 88px 24px 96px;
}

.header__menu {
    display: block;
    height: 100%;
    padding: 44px 36px 39px 26px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-between;
	align-items: center;
    gap: 32px;
}

.header__links-list-item {
    list-style-type: circle;
}

.header__logo {
    display: block;
    height: 105px;
    width: 148px;
    padding-left: 10px;
}

.header__logo-image{
    height: 105px;
    width: 130px;
}
.header__links-list-item_no-bullet {
    list-style: none;
}

.header__link {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.01em;
}

.header__link_active {
    text-decoration: none;
}

.header__address{
    margin-left: 185px;
    margin-top: 5px;
    max-width: 240px;
    text-align: start;
    align-self: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 100%;
    background: url(../images/cover.jpg);
    object-position: center;
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    inset: 0 100% 100% 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    
}
.cover__title {
    height: 100%;
    padding: 165px 50px 100px;
    color: #efff;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    z-index: 3;
    line-height: 115%;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
    padding-top: 5px;
    padding-left: 65px;
}

.aligned-text_right {
    text-align: right;
    padding-top: 15px;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__subtitle {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    word-spacing: 18px;
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: #fff;
    padding: 27px 0px 50px 82px;
    gap: 82px;
}

.letter-spacing {
    letter-spacing: 1.1em;
}

.bet-button {
    width: 256px;
    height: 51px;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    background:transparent;
    padding: 10px 30px;
}
.button {
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    background:transparent;
    padding: 10px 30px;
}

.cover__description {
    display: flex;
    align-items: first baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 82px;
}

.lots {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-top: 179px;
    padding: 0px 24px;
}

.lots__heading {
    display: block;
    height: 100%;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
    margin: 0 auto 27px 40px;
}

.card {
    background: #fff;
    flex: 1 30%;
    position: relative;
    z-index: 5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-link {
    display: flex;
    height: 100%;
    text-decoration: none;
}

.lots__card-list-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 334px;
    height: 563px;
}

.lots__card-list {
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    list-style: none;
    position: relative;
    z-index: 18;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 11px;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
}

.card__text {
    display: block;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #ffff;
}

.lots__look-more-link {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    margin: 30px 0 0 40px;
    text-decoration: auto;
}

.about {
    height: 100%;
    padding: 136px 24px 100px;
    display: flex;
}

.about__column {
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    list-style: none;
}

.about__block-text {
    height: 100%;
    width: 693px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 2px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 334px;
    width: 334px;
    padding-left: 5px;
}

.about__logo-fon {
    width: 240px;
    height: 240px;
    fill: none;
    border-radius: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    height: 114px;
    width: 148px;
    object-fit: contain;
}
.about__title {
    width: auto;
    height: 100%;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
    margin: 148px 0 75px;
}

.about__text {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #000;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 100%;
    padding: 80px 50px 88px;
}

.address {
    padding-left: 2px;
    margin-bottom: 2px;
}

.footer__address{
    max-width: 240px;
    text-align: start;
    align-self: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
}
.footer__menu {
    max-width: 240px;
    align-self: flex-start;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding-left: 5px;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    gap: 48px;
    margin-bottom: 48px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    height: 48px;
    width: 48px;
}